<div *ngIf="loading">Carregando...</div>

<div *ngIf="forbidden && !loading">Permissão negada</div>

<div *ngIf="!forbidden && !loading">
  <h1>Angular</h1>
  <hr>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let form of forms">
        <td>{{ form.id }}</td>
        <td>{{ form.title }}</td>
      </tr>
    </tbody>
  </table>
</div>
